<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Take Book | 討論區</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/discuss3.css" />
        <link rel="stylesheet" href="css/menu.css" />
        <link rel="stylesheet" href="css/main3.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/index"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/index"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/bookRank">熱門書排行榜</a></li>
											<li><a href="/pointRank">愛閱點排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/discuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/rule"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									<li><a class="icon fa-sitemap" href="/personal"><span>個人資訊</span></a></li>
								</ul>
							</nav>


					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section>
											<ul id="sidenav" class="divided">
												<li>
													<!-- Search -->
													<article class="box excerpt">
														<section id="search" class="alt">
                                                             <form method="post" action="#">
                                                                <input type="text" name="query" id="query" placeholder="Search" />
       														</form>
                                                         </section>
													</article>
												</li>

								<!-- Excerpt -->
								<article class="box excerpt">
									<nav id="menu">
                                        <header class="major">
                                            <h2>分類 Category</h2>
                                        </header>
									<ul>
										<li><a href="/discuss#All">全部 All</a></li>
										<li><a href="/discuss#Chinese">中文書 Chinese</a></li>
										<li><a href="/discuss#Foreign language">外文書 Foreign language</a></li>
										<li><a href="/discuss#reference book">參考書 reference book</a></li>	
										<li><a href="/discuss#Simplified Chinese">簡體書 Simplified Chinese</a></li>
										<li><a href="/discuss#Simplified Chinese">雜誌,MOOK</a></li>
									</ul>
									</nav>
								</article>
								</div>

							<!-- Content -->
							<div id="content" class="8u 12u(mobile) important(mobile)">

									<!-- Post -->
									<div id="products_contents">
							<ul>
							<!-- ▼▼分類1從此開始▼▼ -->
							<li id="detail">
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<li class="clearfix">
										<p class="picBook"><img src="images/pic1.jpg" width="180" height="200"</p>
										<p class="type"><a href="#cat_05">簡體書</a></p>
                                        <a href="#" class="bookmark"><span class="glyphicon glyphicon-bookmark"></span></a>
										<h3 class="name">貓貓蟲咖波：食物世界超棒（首刷限量贈品版）</h3>
										<p class="word">作者：亞拉<br />
                                            出版社：晨星<br />
                                            出版日期：2017/08/01<br />
                                            語言：繁體中文<br/>
                                            分享：LINE,FB</p>
										<a href="http://webpac.ntub.edu.tw/webpacIndex.jsp" class="button">借閱</a>
									</li>
									
									<!-------------------------->
										<p class="title">內容簡介</p>
									<!-------------------------->
									<li class="clearfix">
										<p class="word">◆ 百分之百臺灣原汁原味獨創角色！<br/>
										◆ 國際粉絲數突破50萬！<br/>
										◆ Line貼圖排行榜上居高不下長青角色！</p>
										<p class="word">　誰是咖波？<br/>
										咖波是長得像貓又像蟲的不明物種，喜歡撒嬌，愛搗蛋。<br/>
										平常有六隻腳，身體會伸縮不固定。看到什麼都想吃，明明是超級吃貨卻超討厭蔬菜。<br/>
										</p>
                                    <!-------------------------->
										<p class="title">作者介紹</p>
									<!-------------------------->
									<li class="clearfix">
										<p class="word">亞拉<br/>
										熱愛畫圖，擅長多種畫風。<br/>
										學生時期就讀資訊相關科系，但一直忘不了對畫圖的喜愛，畢業後便從事美術繪圖等相關工作。<br/>
										筆下插畫角色「貓貓蟲咖波」在facebook擁有50多萬粉絲，並獲得line webtoon漫畫大賽冠軍。<br/>
										目前為自由插畫家，在自己的小小工作室裡畫圖。</p>
										
									</li>
									<!-------------------------->
										<p class="title">筆記導讀</p>
									<!-------------------------->
                                    <ul>
										<li class="clearfix">
										<p class="photo"><img src="images/products_01.jpg" width="120" height="120" alt="白菜 照片" /></p>
										<p class="type"><a href="/discuss#Simplified Chinese">簡體書</a></p>
										<h3><a href="/discuss3">貓貓蟲咖波：食物世界超棒（首刷限量贈品版）</a></h3>
										<p class="text">百分之百台灣原汁原味獨創角色!<br />
									國際粉絲突破50萬!<br />
										Line貼圖排行榜上居高不下長青角色!</p>    
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a>                                   	
                                   		<p class="date">2017.08.11</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									
									<!-- ▲▲商品1到此為止▲▲ -->
									<!-- ▼▼商品2從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_02.jpg" width="120" height="120"></p>
										<p class="type"><a href="/discuss#Chinese">中文書</a></p>
										<h3>貓貓蟲咖波好可愛啊~~</h3>
										<p class="text">依據最新日本消費稅調整，給你最正確的旅遊資訊!<br />
										必備景點與路線圖:京阪神奈路線圖|大阪市&神戶市地鐵。 </p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a>   
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品2到此為止▲▲ -->
									<!-- ▼▼商品3從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_03.jpg" width="120" height="120"></p>
										<p class="type"><a href="/discuss#reference book">參考書</a></p>
										<h3>對於喜愛貓貓蟲咖波的朋友們，千萬不能錯過阿</h3>
										<p class="text">改編自2015年全球最催淚的極短篇動畫<br />
										只要生命愛過，溫暖將永遠被記得<br />
										讓媽媽與曾在媽媽懷裡的你</p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a>   
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品3到此為止▲▲ -->
									<!-- ▼▼商品4從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_04.jpg" width="120" height="120"></p>
										<p class="type"><a href="/discuss#Simplified Chinese">簡體書</a></p>
										<h3>這本書值得收藏一番!</h3>
										<p class="text">千呼萬喚!霍格華茲圖書館鎮館之寶開放收藏!<br />
										亞洲唯一!</p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a>   
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品4到此為止▲▲ -->
									</ul>
                                    <p class="pagetop"><a href="/discuss3">TOP ↑</a></p>
								</div>

						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header>
							<h2><strong>About Us </strong></h2>
						</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
									leo nibh, rutrum eu malesuada.</p>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-home">
													100台北市<br />
													中正區濟南路一段321號
												</li>
												<li class="icon fa-phone">
													(000) 000-0000
												</li>
												<li class="icon fa-envelope">
													<a href="#">10356@ntub.edu.tw</a>
												</li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-twitter">
													<a href="#">@untitled-tld</a>
												</li>
												<li class="icon fa-instagram">
													<a href="#">instagram.com/untitled-tld</a>
												</li>
												<li class="icon fa-facebook">
													<a href="#">facebook.com/untitled-tld</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!--
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
					-->
				</div>

		</div>

		<!-- Scripts -->
        	<script src="js/menu.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>