<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html  lang="en">
	<head>
		<title>Take Book | 討論區</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/index"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/index"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/bookRank">熱門書排行榜</a></li>
											<li><a href="/pointRank">愛閱點排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/discuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/rule"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									<li><a class="icon fa-sitemap" href="/personal"><span>個人資訊</span></a></li>
								</ul>
							</nav>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section>
											<ul id="sidenav" class="divided">
												<li>
													<!-- Search -->
													<article class="box excerpt">
														<section id="search" class="alt">
                                                             <form method="post" action="#">
                                                                <input type="text" name="query" id="query" placeholder="Search" />
       														</form>
                                                         </section>
													</article>
												</li>

                                                <!-- Excerpt -->
                                                <article class="box excerpt">
                                                    <nav id="menu">
                                                        <header class="major">
                                                            <h2>分類 Category</h2>
                                                        </header>
                                                    <ul>
                                                        <li><a href="#All">全部 All</a></li>
                                                        <li><a href="#Chinese">中文書 Chinese</a></li>
                                                        <li><a href="#Foreign language">外文書 Foreign language</a></li>
                                                        <li><a href="#reference book">參考書 reference book</a></li>	
                                                        <li><a href="#Simplified Chinese">簡體書 Simplified Chinese</a></li>
                                                        <li><a href="discuss.html#Simplified Chinese">雜誌,MOOK</a></li>
                                                    </ul>
                                                    </nav>
                                                </article>
                              				</div>

					<!-- Content -->
				    <div id="content" class="8u 12u(mobile) important(mobile)">
						<!-- main -->
						<div id="products_contents">
							<ul>
							<!-- ▼▼分類1從此開始▼▼ -->
							<li id="All">
								<p class="title">全部 ALL</p>
								<ul method="get" action="/discuss2">
									<!-- ▼▼項目1從此開始▼▼ -->
									<% for(var i=0; i<data.length; i++) {%>
										<li class="clearfix">
											<p class="photo"><img src="images/products_01.jpg" width="120" height="120"></p>
											<p class="type"><a href="#Simplified Chinese">簡體書</a></p>
											<h3><a href="/discuss3?no=<%= data[i].bookName %>"><%= data[i].bookName %></a></h3>
											<p class="text">百分之百台灣原汁原味獨創角色!<br />
											Line貼圖排行榜上居高不下長青角色!</p>   
											<a href="#" class="icon">
											10 <span class="glyphicon glyphicon-thumbs-up"></span>
											3 <span class="glyphicon glyphicon-comment"></span>
											</a>                       	
											<p class="date">2017.08.11</p>
											<a href="/discuss2" class="button">More</a>
										</li>
									<% } %> 
									<!-- ▲▲項目1到此為止▲▲ -->
								</ul>
								<p class="pagetop"><a href="/discuss">TOP ↑</a></p>
							</li>
							<!-- ▲▲分類1到此為止▲▲ -->
                            <!-- ▼▼分類2從此開始▼▼ -->
							<li id="Chinese">
								<p class="title">中文書 Chinese</p>
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_02.jpg" width="120" height="120"></p>
										<h3>不多走冤枉路！不多花一毛錢！－跟著小氣少年自由行大阪．神戶．奈良（附行動地圖集）</h3>
										<p class="text">依據最新日本消費稅調整，給你最正確的旅遊資訊!<br />
										必備景點與路線圖:京阪神奈路線圖|大阪市&神戶市地鐵。 </p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a> 
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品1到此為止▲▲ -->
									<!-- ▼▼商品2從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_05.jpg" width="120" height="120"></p>
										<h3>全日本鐵道自由行</h3>
										<p class="text">從這裡可以了解到全日本的交通 <br />
										日本JR,私鐵,地下鐵,路面電車交通網<br/>
										應有盡有，超讚!!!</p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a> 
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品2到此為止▲▲ -->
								</ul>
								<p class="pagetop"><a href="/discuss">TOP ↑</a></p>
							</li>
							<!-- ▲▲分類2到此為止▲▲ -->
							<!-- ▼▼分類3從此開始▼▼ -->
							<li id="Foreign language">
								<p class="title">外文書 Foreign language</p>
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_04.jpg" width="120" height="120"></p>
										<h3>怪獸與牠們的產地＋穿越歷史的魁地奇＋吟遊詩人皮陀故事集【霍格華茲圖書館全新插畫版】</h3>
										<p class="text">讓人上癮的苦味。<br />
										請將款冬作成天婦羅食用。</p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a> 
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品1到此為止▲▲ -->
								</ul>
								<p class="pagetop"><a href="/discuss">TOP ↑</a></p>
							</li>
							<!-- ▲▲分類3到此為止▲▲ -->
							<!-- ▼▼分類4從此開始▼▼ -->
							<li id="reference book">
								<p class="title">參考書 reference book</p>
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_03.jpg" width="120" height="120"></p>
										<h3>雲上的阿里</h3>
										<p class="text">改編自2015年全球最催淚的極短篇動畫<br />
										只要生命愛過，溫暖將永遠被記得<br />
										讓媽媽與曾在媽媽懷裡的你</p>
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a> 
                                        <p class="date">2017.08.10</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品1到此為止▲▲ -->
								</ul>
								<p class="pagetop"><a href="/discuss">TOP ↑</a></p>
							</li>
							<!-- ▲▲分類4到此為止▲▲ -->
							<!-- ▼▼分類5從此開始▼▼ -->
							<li id="Simplified Chinese">
								<p class="title">簡體書 Simplified Chinese</p>
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<li class="clearfix">
										<p class="photo"><img src="images/products_01.jpg" width="120" height="120"></p>
										<h3>貓貓蟲咖波：食物世界超棒（首刷限量贈品版）</h3>
										<p class="text">百分之百台灣原汁原味獨創角色!<br />
									國際粉絲突破50萬!<br />
									Line貼圖排行榜上居高不下長青角色!</p>
                                   		<a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a> 
                                    	<p class="date">2017.08.11</p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<!-- ▲▲商品1到此為止▲▲ -->
								</ul>
								<p class="pagetop"><a href="/discuss">TOP ↑</a></p>
							</li>
							<!-- ▲▲分類5到此為止▲▲ -->
						</ul>
								</div>

						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header>
							<h2><strong>About Us </strong></h2>
						</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
									leo nibh, rutrum eu malesuada.</p>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-home">
													100台北市<br />
													中正區濟南路一段321號
												</li>
												<li class="icon fa-phone">
													(000) 000-0000
												</li>
												<li class="icon fa-envelope">
													<a href="#">10356@ntub.edu.tw</a>
												</li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-twitter">
													<a href="#">@untitled-tld</a>
												</li>
												<li class="icon fa-instagram">
													<a href="#">instagram.com/untitled-tld</a>
												</li>
												<li class="icon fa-facebook">
													<a href="#">facebook.com/untitled-tld</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!--
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>						</li>
						</ul>
					</div>
					-->
				</div>

		</div>

		<!-- Scripts -->
        	<script src="js/menu.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>